*{
    margin:0px;
    padding:0px;
}
header{
    width:100%;
    align-items: center;
    background-color: #ce2029;
    padding-top: 10px;
    position: sticky;
    top:0;
}
.heading{
    color:#000;
    font-size:30px;
}
.heading h1{
    text-align: center;
}
.nav-bar{
    background-color: #990f02;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
}
.nav-bar a{
    font-size: 20px;
    color:#000;
}
.nav-bar .active{
    color: #41424c;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: none;
}
footer{
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: #990f02;
    bottom: 0;
    position: fixed;
    color: #000;
}
.content p{
    font-size: 20px;
}
.content p.CUtext{
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}
.content p.charaText{
    font-size: 30px;
    text-align: center;

}
.content form{
    width: max-content;
    display: flex;
    margin-left: 570px;
    margin-top: 100px;
}
.character-nav{
    background-color: #710c04;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
}
.character-nav a{
    font-size: 20px;
    color:#000;
}
.character-nav .current{
    color: #41424c;
}
.content img{
    padding: 5px;
    margin-left: 530px;
    margin-bottom: 20px;
    border:#000;
    border-radius: 100px;
    align-self: center;
}
.content .h1{
   text-align: center;
}
.contentHome p{
text-align: left;
font-size: 30px;
}
.contentHome img{

}